$light: #76e5e5;
$medium: #66ccca;
*{
    text-align: center;
    h1{
        font-weight: 400;
    }
    h2{
        font-weight: 400;
    }
}
.content{
    align-items: center;
    display: flex;
    // margin: 0 25vw;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    .selection{
        @media (min-width:600px) {
            margin: 1rem 20rem;
        }
        @media (max-width:600px) {
            margin: 1rem 0rem;
        }
        .option{
            margin: .5rem 0;
        }
    }
    .majors{
        @media (min-width:600px) {
            margin: 1rem 20rem;
        }
        @media (max-width:600px) {
            margin: 1rem 0rem;
        }
    }
    .next{
        margin: 1rem;
    }
    .MuiButton-outlinedPrimary{
        color: $light !important;
        border: 1px solid $light !important;
    }
}

.content__results{
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    @media (min-width:600px) {
        margin: 1rem 4vw;
    }
    @media (max-width:600px) {
        margin: 0 0rem;
    }
    .results__table{
        display: flex;
        flex: 1;
        flex-flow: column;
        
        .Mui-selected{
            background-color: rgba(118, 229, 229, 0.1) !important;
        }
        @media (min-width:600px) {
            .infoButton{
                display: block;
            }
        }
        @media (max-width:600px) {
            .infoButton{
                display: none;
            }
        }

    }
    .loadLogo{
        animation: fadein 1s infinite;
        flex: 1;
        max-width: 40vw;
        height: auto;
        align-self: center;
    }
    @keyframes fadein {
        0% { opacity: 0; }
        50%   { opacity: 1; }
        100%   { opacity: 0; }
    }
    .MuiDataGrid-toolbar{
        flex-flow: row-reverse;
        padding: 0.5rem 0.5rem 0;
        justify-content: space-between;
        button{
            color: rgb(0, 206, 221)
        }
        .results{
            // justify-self: space-between;
            margin: 0;
            font-weight: 300;
            margin: 0 0.5rem;
            // flex: 1
        }
    }
}
.MuiAlert-filledInfo{
    background-color: $light !important;
}
.MuiRadio-colorPrimary.Mui-checked{
    *{
        color: $light !important;
        filter: opacity(0.95);
    }
}
.WAMuiChipInput-underline-21:after{
    border-bottom: 2px solid $medium !important;
}
