.nav{
    display: flex;
    flex-flow: row;
    padding: 0 1rem;
    
    align-items: flex-start;
    .logo{
        max-width: 15rem;
        height: auto;
        align-items: center;
        margin: 0 1rem;
        justify-self: center;
    }
    .ico{
        max-width: 3rem;
        height: auto;
        align-items: center;
        margin: 0 0 0 2rem;
        justify-self: center;
    }
    a{
        // flex: 1 0 0;
        height: 5rem;
        display: flex;
    }
}